body {
  background: url("https://m-cdn.phonearena.com/images/article/143515-wide-two_1200/Apple-tests-adding-news-to-the-native-Weather-app-in-iOS-16.2-Beta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-box {
  width: 100%;
  max-width: 60%;
  padding: 40px;
  margin-bottom: 20px;
  background-color: rgba(187, 187, 196, 0.6);
  border-radius: 30px;
  text-align: center;
}

.buttons {
  width: 100%;
  max-width: 60%;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}
